  @Media (min-width: 768px) {
  .navbar-default .nav-sitemap .level1 .dropdown-menu {
    left: auto;
    right: 0;
  }
    .nav-sitemap .level1 .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}
.nav-sitemap .level1 {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav-sitemap .level1 > li {
  position: relative;
  display: block;
}
.nav-sitemap .level1 > li > a {
  position: relative;
  display: block;
  padding: 10px 15px !important;
}
.nav-sitemap .level1 > li > a:hover,
.nav-sitemap .level1 > li > a:focus {
  text-decoration: none;
  background-color: #ecf0f1;
}
.nav-sitemap .level1  > li.disabled > a {
  color: #b4bcc2;
}
.nav-sitemap .level1 > li.disabled > a:hover,
.nav-sitemap .level1 > li.disabled > a:focus {
  color: #b4bcc2;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav-sitemap .level1 .open > a,
.nav-sitemap .level1 .open > a:hover,
.nav-sitemap .level1 .open > a:focus {
  background-color: #ecf0f1;
  border-color: #18bc9c;
}
.nav-sitemap .level1 .nav-divider {
  height: 1px;
  margin: 9.5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav-sitemap .level1 > li > a > img {
  max-width: none;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.nav-sitemap .level1 {
  position: relative;
  min-height: 60px;
  margin-bottom: 21px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .nav-sitemap .level1 {
    border-radius: 4px;
  }
}
.nav-sitemap .level1 {
  margin: 9.75px -15px;
}
..nav-sitemap .level1 > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 21px;
}
@media (max-width: 767px) {
  .nav-sitemap .level1 .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .nav-sitemap .level1 .open .dropdown-menu > li > a,
   .nav-sitemap .level1 .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
   .nav-sitemap .level1 .open .dropdown-menu > li > a {
    line-height: 21px;
  }
   .nav-sitemap .level1 .open .dropdown-menu > li > a:hover,
   .nav-sitemap .level1 .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
   .nav-sitemap .level1 {
    float: left;
    margin: 0;
  }
   .nav-sitemap .level1 > li {
    float: left;
  }
  .nav-sitemap .level1 > li > a {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
  }
  .nav-sitemap .level1:last-child {
    margin-right: -15px;
  }
}
@media (min-width: 768px) {
  .nav-sitemap .level1 {
    float: left !important;
  }
  .nav-sitemap .level1 {
    float: right !important;
  }
}

.level1 > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.navbar-default .nav-sitemap .level1 > li > a {
  color: #ffffff;
}
.navbar-default .nav-sitemap .level1 > li > a:hover,
.navbar-default .nav-sitemap .level1 > li > a:focus {
  color: #18bc9c;
  background-color: transparent;
}
.navbar-default .nav-sitemap .level1 > .active > a,
.navbar-default .nav-sitemap .level1 > .active > a:hover,
.navbar-default .nav-sitemap .level1 > .active > a:focus {
  color: #ffffff;
  background-color: #1a242f;
}
.navbar-default .nav-sitemap .level1 > .disabled > a,
.navbar-default .nav-sitemap .level1 > .disabled > a:hover,
.navbar-default .nav-sitemap .level1 > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #1a242f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1a242f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #1a242f;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-default .nav-sitemap .level1 .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .nav-sitemap .level1 .open .dropdown-menu > li > a:hover,
  .navbar-default .nav-sitemap .level1 .open .dropdown-menu > li > a:focus {
    color: #18bc9c;
    background-color: transparent;
  }
  .navbar-default .nav-sitemap .level1 .open .dropdown-menu > .active > a,
  .navbar-default .nav-sitemap .level1 .open .dropdown-menu > .active > a:hover,
  .navbar-default .nav-sitemap .level1 .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #1a242f;
  }
  .navbar-default .nav-sitemap .level1 .open .dropdown-menu > .disabled > a,
  .navbar-default .nav-sitemap .level1 .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .nav-sitemap .level1 .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

.navbar-inverse .nav-sitemap .level1 > li > a {
  color: #ffffff;
}
.navbar-inverse .nav-sitemap .level1 > li > a:hover,
.navbar-inverse .nav-sitemap .level1 > li > a:focus {
  color: #2c3e50;
  background-color: transparent;
}
.navbar-inverse .nav-sitemap .level1 > .active > a,
.navbar-inverse .nav-sitemap .level1 > .active > a:hover,
.navbar-inverse .nav-sitemap .level1 > .active > a:focus {
  color: #ffffff;
  background-color: #15a589;
}
.navbar-inverse .nav-sitemap .level1 > .disabled > a,
.navbar-inverse .nav-sitemap .level1 > .disabled > a:hover,
.navbar-inverse .nav-sitemap .level1 > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-inverse .nav-sitemap .level1 > .open > a,
.navbar-inverse .nav-sitemap .level1 > .open > a:hover,
.navbar-inverse .nav-sitemap .level1 > .open > a:focus {
  background-color: #15a589;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-inverse .nav-sitemap .level1 .open .dropdown-menu > .dropdown-header {
    border-color: transparent;
  }
  .navbar-inverse .nav-sitemap .level1 .open .dropdown-menu .divider {
    background-color: transparent;
  }
  .navbar-inverse .nav-sitemap .level1 .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-inverse .nav-sitemap .level1 .open .dropdown-menu > li > a:hover,
  .navbar-inverse .nav-sitemap .level1 .open .dropdown-menu > li > a:focus {
    color: #2c3e50;
    background-color: transparent;
  }
  .navbar-inverse .nav-sitemap .level1 .open .dropdown-menu > .active > a,
  .navbar-inverse .nav-sitemap .level1 .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .nav-sitemap .level1 .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #15a589;
  }
  .navbar-inverse .nav-sitemap .level1 .open .dropdown-menu > .disabled > a,
  .navbar-inverse .nav-sitemap .level1 .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .nav-sitemap .level1 .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
#Navmenu {
    float: right !important;
}
.nav-sitemap .level1
{
    letter-spacing:1px;
}